doctype html
head
    title Services
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='index.css', type='text/css')
body
    include ./navlink.pug
    h1 Our Services